@using E_Market.Core.Application.ViewModels.Category
@model CategoryViewModel
@{
    ViewData["Title"] = "Eliminar Categoria";
}

<div class="card">
  <h5 class="card-header">Eliminar Categoria</h5>
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">¿Esta seguro que quiere eliminar esta Categoria? Esta accion no se puede deshacer</p>
    <form method="post" asp-controller="Categories" asp-action="Delete">
        <a asp-controller="Categories" asp-action="Index" class="btn btn-primary">Cancelar</a>
        <input type="submit" class="btn btn-danger" value="Eliminar" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Name" />
        <input type="hidden" asp-for="Description" />
    </form>
  </div>
</div>
