@using E_Market.Core.Application.ViewModels.Adverts
@using E_Market.Core.Application.ViewModels.Category
@model SaveAdvertViewModel
@{
    ViewData["Title"] = "Crear Anuncio";
}

<div class="row">
  <div class="col-sm-6 offset-3">
    <div class="card">
  <h5 class="card-header">Nuevo anuncio</h5>
  <div class="card-body">
                @if (Model.Categories.Count == 0)
                {
                    <h2 class="text-danger">Error</h2>
                    <p class="text-danger">No hay categorias agregadas a la base de datos, 
                        debe existir al menos una categoria para poder agregar productos, 
                        cree una categoria para empezar</p>
                    <a class="btn btn-outline-success" asp-controller="Categories" asp-action="Create">Crear Categoria</a>
                }
                else
                {
                <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Adverts">
          <div class="mb-3">
            <label asp-for="Advert.Name" class="form-label">Nombre</label>
            <input asp-for="Advert.Name" class="form-control">
            <span asp-validation-for="Advert.Name" class="text-danger"></span>
          </div>
          <div class="form-floating" style="margin: 20px auto;">
            <textarea asp-for="Advert.Description" class="form-control" placeholder="Ingrese la descripcion del producto" style="height: 150px"></textarea>
            <label asp-for="Advert.Description">Descripion</label>
            <span asp-validation-for="Advert.Description" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Advert.Img1" class="form-label">Seleccione las imagenes:</label>
            <input asp-for="Advert.Img1" class="form-control" required>
            <span asp-validation-for="Advert.Img1" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Advert.Img2" class="form-label">Imagen 2</label>
            <input asp-for="Advert.Img2" class="form-control" >
            <span asp-validation-for="Advert.Img2" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Advert.Img3" class="form-label">Imagen 3</label>
            <input asp-for="Advert.Img3" class="form-control" >
            <span asp-validation-for="Advert.Img3" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Advert.Img4" class="form-label">Imagen 4</label>
            <input asp-for="Advert.Img4" class="form-control" >
            <span asp-validation-for="Advert.Img4" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Advert.Price" class="form-label">Precio</label>
            <input type="number" step="any" asp-for="Advert.Price" class="form-control">
            <span asp-validation-for="Advert.Price" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Advert.CategoryId" class="form-label">Categoria</label>
            <select asp-for="Advert.CategoryId" class="form-select">
                @foreach(CategoryViewModel t in Model.Categories){
                    <option value="@t.Id">@t.Name</option>
                }
            </select>
            <span asp-validation-for="Advert.CategoryId" class="text-danger"></span>
          </div>
          <a class="btn btn-outline-warning" asp-controller="Adverts" asp-action="MyAdverts">Volver</a>
          <button type="submit" class="btn btn-outline-primary">Guardar</button>
        </form>
        }

      </div>
    </div>
  </div>
</div>